{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
<a type="button" href="{% url 'authentication:edit_profile' id=user_info.id %}">Редактировать информацию профиля</a> |
<a type="button" href="{% url 'authentication:change_password' %}">Сменить пароль</a> |
<a type="button" href="">История заказов</a>
    <p>Логин: {{ user_info.username }}</p>
    <p>Имя: {{ user_info.first_name }}</p>
    <p>Фамилия: {{ user_info.last_name }}</p>
    <p>E-mail: {{ user_info.email }}</p>
    <p>Телефон: {{ user_info.phone }}</p>
    <p>Адрес: {{ user_info.address }}</p>



{% endblock %}