{% extends "base.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <h1>Корзина</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Количество</th>
            <th>Удалить товар</th>
            <th>Цена за единицу</th>
            <th>Общая стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img style="width: 200px" alt="Картинка товара {{ product }}"
                                {% if product.productimage_set %}
                                    src="{{ product.productimage_set.first.image.url }}"
                                {% else %}
                                    src="{% static "img/no_image.png" %}"
                                {% endif %}>
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a class="btn btn-light" href="{% url "cart:cart_remove" product.id%}">Удалить из корзины</a></td>
                    <td>{{ item.price }} р.</td>
                    <td>{{ item.total_price }} р.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td colspan="5"><strong>Сумма заказа</strong></td>
            <td><strong>{{ cart.get_total_price }} р.</strong></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a class="btn btn-dark" href="{% url "products:list" %}">Продолжить покупки</a>
        <a class="btn btn-dark" href="{% url "orders:order_create" %}">Оформить заказ</a>
    </p>
{% endblock %}