{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h2 class="row justify-content-around">Оформление заказа</h2><br>
    <div class="row justify-content-around">
        <div class="col-sm-6 col-lg-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" colspan="3" class="table-secondary">Ваш заказ</th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    <tr class="table-light">
                        <td colspan="2">{{ item.quantity }} x {{ item.product.name }}</td>
                        <td>{{ item.total_price }} р.</td>
                    </tr>
                {% endfor %}
                <tr class="table-success">
                    <th scope="row" colspan="2">Общая сумма заказа:</th>
                    <td>{{ cart.get_total_price }} р.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-lg-6">
            <form action="" method="post" class="order-form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p><i>*На указанный адрес эл. почты будет выслана информация о заказе</i></p>
                <p>
                    <button class="btn btn-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-check2-all" viewBox="0 0 16 16">
                            <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7l-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                            <path d="M5.354 7.146l.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                        </svg>
                        Оформить заказ
                    </button>
                    <a href="{% url 'products:list' %}" class="btn btn-secondary">
                        Продолжить покупки
                    </a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}