{% extends "base.html" %}

{% block title %}История заказов{% endblock %}

{% block content %}
    {% include 'authentication/_profile_nav.html' with active='history' %}

    {% for order in orders %}
        {% for item in order.items.all %}
            {% ifchanged %}
                Заказ {{ order.id }}<br>
            {% endifchanged %}
            Товар: {{ item.product }} * {{ item.quantity }}<br>
            Цена товара: {{ item.price }}<br>
            {% if forloop.last %} Общая сумма заказа: {{ order.sum }}<br><br>{% endif %}
        {% endfor %}
    {% empty %}
        Вы еще ничего не заказывали.
    {% endfor %}

    <a type="button" class="btn btn-dark" href="{% url 'products:list' %}">Назад</a>
{% endblock %}