{% extends 'base.html' %}
{% load static %}
{% block title %}Просмотр{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'products/products.css' %}">
{% endblock %}
{% block content %}

    <div>
<table style="width: 100%">
<tr class="table-active">
     <td colspan="2"><h1>{{ object.name }}</h1></td>
</tr>
<tr class="table-active">
     <td rowspan="4">
         <p>
             {% for productimage in object.productimage_set.all %}
            <img class="images" src="{{ productimage.image.url }}" alt="Картинка товара {{ object.name }}" ><br>{% endfor %}
         </p>
     </td>
      <td style="width: 60%">

          <h4>Цена:</h4>
          <p style="font-size: 130%">{{ object.price }}</p>
          <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
          </form><br>
          <h4>Размер:</h4>
          <p style="font-size: 130%">{{ object.size }}</p><br>
          <h4>Описание:</h4>
          <p>{{ object.description }}</p><br>
      </td>
</tr>
    </table>
        <a type="button" class="btn btn-dark" href="{% url 'products:list' %}">Назад</a>




    </div>

{% endblock %}