<div class="bg-light">
    <div class="btn-group" role="group" aria-label="Basic example">
        {% if user_info.is_superuser %}
            <a
                    class="btn {% if active == 'received_orders' %} btn-secondary {% else %}btn-light{% endif %}"
                    href="{% url 'authentication:received_orders' %}">Поступившие заказы</a>
            {#    <a#}
            {#           class="btn {% if active == 'add_product' %} btn-secondary {% else %}btn-light{% endif %}"#}
            {#           href="{% url 'orders:add_product' %}">Добавление товаров</a>#}
        {% endif %}

        <a
                class="btn {% if active == 'info' %} btn-secondary {% else %}btn-light{% endif %}"
                href="
    {% url 'authentication:profile' %}">Профиль</a>
        <a
                class="btn {% if active == 'history' %} btn-secondary {% else %}btn-light{% endif %}"
                href="{% url 'orders:order_history' %}">История заказов</a>
    </div>
</div>