{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    {% include 'authentication/_profile_nav.html' with active='info' %}
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <form action="" method="POST">
                {% csrf_token %}
                {{ error }}
                {% bootstrap_form form %}
                <button class="btn btn-dark">Сменить пароль</button>
                <a class="btn btn-secondary" href=" {% url 'authentication:profile'%}">Назад</a>
            </form>
        </div>
    </div>
{% endblock %}