{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}
    {% include 'authentication/_profile_nav.html' with active='info' %}
    <p>Логин: {{ user_info.username }}</p>
    <p>Имя: {{ user_info.first_name }}</p>
    <p>Фамилия: {{ user_info.last_name }}</p>
    <p>E-mail: {{ user_info.email }}</p>
    <p>Телефон: {{ user_info.phone }}</p>
    <p>Адрес: {{ user_info.address }}</p>
    <a type="button" class="btn btn-dark" href="{% url 'products:list' %}">Вернуться на главную</a>



{% endblock %}