.images {
    height: 200px;
    width: 200px;
}
.back {
    background-image: url(backgrounds/dark.jpg);
}

.logo-img {
    alignment: left;
    height: 70px;
    width: 120px;
}

.my_button {
    alignment: right;
}